aioredis==1.3.1
alembic==1.8.0
amqp==2.6.1
aniso8601==9.0.1
anyio==3.5.0
appdirs==1.4.3
APScheduler==3.6.3
apturl==0.5.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.4.2
Automat==20.2.0
backports.zoneinfo==0.2.1
bandit==1.7.4
bcrypt==3.1.7
beautifulsoup4==4.11.1
billiard==3.6.4.0
bleach==5.0.0
blinker==1.4
Brlapi==0.7.0
cachetools==4.2.2
celery==4.4.2
certifi==2022.5.18.1
cffi==1.15.0
cfgv==3.3.1
channels==3.0.3
channels-redis==3.3.1
chardet==4.0.0
charset-normalizer==2.0.12
chrome-gnome-shell==0.0.0
click==8.0.4
colorama==0.4.4
command-not-found==0.3
constantly==15.1.0
cryptography==37.0.2
cupshelpers==1.0
daphne==3.0.2
dbus-python==1.2.16
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
diff-match-patch==20200713
distlib==0.3.4
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.1
django-admin-interface==0.16.3
django-admin-numeric-filter==0.1.6
django-admin-sortable2==0.7.7
django-braces==1.15.0
django-celery-beat==1.6.0
django-ckeditor==6.3.0
django-colorfield==0.7.0
django-cors-headers==3.7.0
django-des==2.4.1
django-discover-runner==1.0
django-easy-select2==1.5.8
django-excel==0.0.10
django-filebrowser-no-grappelli==4.0.1
django-filter==2.4.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-fsm==2.8.0
django-fsm-admin==1.2.5
django-graphql-extensions==0.1.0
django-htmlmin==0.11.0
django-import-export==2.7.1
django-js-asset==2.0.0
django-modeladmin-reorder==0.3.1
django-modeltranslation==0.18.2
django-mptt==0.13.4
django-multiurl==1.5.0
django-oauth-toolkit==2.0.0
django-object-tools==2.0.0
django-polymorphic==3.1.0
django-polymorphic-tree-for-garpix-page==2.1.1
django-rest-framework-social-oauth2==1.1.0
django-role-permissions==3.1.1
django-simple-history==3.1.1
django-solo==1.1.3
django-tabbed-admin==1.0.4
django-tag-parser==3.2
django-timezone-field==3.1
django-user-agents==0.4.0
django-utils-six==2.0
django-uuslug==2.0.0
djangorestframework==3.13.1
docutils==0.18.1
drf-spectacular==0.22.1
duplicity==0.8.12.0
ecdsa==0.17.0
entrypoints==0.3
environs==9.5.0
et-xmlfile==1.1.0
fastapi==0.75.0
fasteners==0.14.1
fcm-django==0.3.11
filelock==3.7.1
flake8==4.0.1
flake8-polyfill==1.0.2
future==0.18.2
garpix-auth==2.3.0
garpix-menu==1.8.0
garpix-notify==5.7.0
garpix-package==2.0.1
garpix-page==2.24.0
garpix-qa==1.9.0
garpix-utils==1.4.0
garpixcms==3.21.0
gitdb==4.0.9
GitPython==3.1.27
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
graphene==3.0
graphene-django==3.0.0b7
graphene-django-extras==0.5.2
graphql-core==3.1.7
graphql-relay==3.1.0
greenlet==1.1.2
h11==0.13.0
hiredis==2.0.0
html5lib==1.1
httplib2==0.14.0
hyperlink==21.0.0
identify==2.5.1
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
incremental==21.3.0
inflection==0.5.1
jeepney==0.8.0
jsonschema==4.5.1
jwcrypto==1.3.1
keyring==23.5.1
kombu==4.6.11
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libsass==0.21.0
lml==0.1.0
lockfile==0.12.2
louis==3.12.0
m2r==0.2.1
macaroonbakery==1.3.1
Mako==1.1.0
mando==0.6.4
MarkupPy==1.14
MarkupSafe==1.1.0
marshmallow==3.16.0
mccabe==0.6.1
mistune==0.8.4
model-bakery==1.5.0
monotonic==1.5
more-itertools==4.2.0
msgpack==1.0.3
netifaces==0.10.4
nodeenv==1.6.0
numpy==1.22.4
oauth2client==4.1.2
oauthlib==3.2.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
paramiko==2.6.0
passlib==1.7.4
pbr==5.9.0
pdfkit==1.0.0
pexpect==4.6.0
Pillow==9.1.1
pipenv==11.9.0
pkginfo==1.8.2
platformdirs==2.5.2
pre-commit==2.19.0
promise==2.3
protobuf==3.6.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
pydantic==1.9.0
PyDrive==1.3.1
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
pyfcm==1.4.9
pyflakes==2.4.0
Pygments==2.12.0
PyGObject==3.36.0
PyJWT==2.4.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.0.0+ubuntu0.20.4.7
python-crontab==2.6.0
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
python-slugify==6.1.2
python-telegram-bot==13.12
python3-openid==3.2.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.26
PyYAML==6.0
qrcode==7.3.1
radon==5.1.0
raven==6.10.0
readme-renderer==35.0
redis==4.3.1
reportlab==3.5.34
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
rfc3986==2.0.0
rsa==4.8
screen-resolution-extra==0.0.0
SecretStorage==3.3.2
sentry-sdk==1.5.12
service-identity==21.1.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sorl-thumbnail==12.8.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.32
sqlparse==0.4.2
starlette==0.17.1
stevedore==3.5.0
systemd-python==234
tablib==3.2.1
testresources==2.0.1
text-unidecode==1.3
texttable==1.6.4
to==0.3
toml==0.10.2
tornado==6.1
tqdm==4.64.0
twine==3.4.1
Twisted==22.4.0
txaio==22.2.1
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ua-parser==0.10.0
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.9
usb-creator==0.3.7
user-agents==2.2.0
uvicorn==0.17.6
uWSGI==2.0.20
viberbot==1.0.12
vine==1.3.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
wadllib==1.3.6
webencodings==0.5.1
wrapt==1.14.1
xkit==0.0.0
xlrd==2.0.1
xlwt==1.3.0
zipp==3.8.0
zope.interface==5.4.0
